{% extends 'base.html.twig' %}

{% block title %} shop {% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold self-center mb-2">actual score : {{ user.score }} </h1>
    <div x-data="shop({{ user.score }},{{ user.doubletg ?: '0' }},{{ user.timer ?: '0' }},{{ user.booster ?: '0' }})" class="flex justify-around mt-72">
        <button class="bg-red-200 hover:bg-red-500 transition duration-500 rounded-md h-10 w-40 shadow-sm" @click="active_double">double point per click</button>
        <button class="bg-red-200 hover:bg-red-500 transition duration-500 rounded-md h-10 w-40 shadow-sm" @click="active_timer">time increment</button>
        <button class="bg-red-200 hover:bg-red-500 transition duration-500 rounded-md h-10 w-40 shadow-sm" @click="active_booster">booster</button>
        <button @click="save_bonus" class="self-center bg-red-200 hover:bg-red-500 transition duration-500 rounded-md h-10 w-40 shadow-sm">
            <a href="{{ path('app_tapTheRhubarb')}}">quit and save</a>
        </button>
    </div>
    <div class="flex justify-around">
        <label>cost: 10 000</label>
        <label>cost: 7 000</label>
        <label class="mr-12">cost: 100 000</label>
        <label></label>
    </div>
{% endblock %}
